.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100vw;  
    height: 100vh;      
    position: relative;
}

.loading{
    height: 150px;
    width: 150px;
    border: 16px solid;
    border-color: #E2E8F0;
    border-radius: 50%;
    border-right-color: #34345c;
    animation: spin 1s ease infinite;
}
@keyframes spin {
    100%{
        transform: rotate(360deg)
    }
}